/Practica1R/Practica1/target/
/Practica1R/Practica1/Servidor/distribuidos/Proyecto1/build/
/Practica1R/Practica1/Servidor/distribuidos/Proyecto1/nbproject/private/
/Practica2/Practica2/nbproject/private/
/Practica2/Practica2/build/
